{% extends 'layout.html' %}
{% block main %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Scrip Codes</th>
            <th scope="col">Security ID</th>
            <th scope="col">Last Trading Price</th>
            <th scope="col">Changes</th>
            <th scope="col">% Changes</th>
        </tr>
    </thead>
    <tbody>
        {% for gainer in topGainers %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{gainer.scripCode}}</td>
            <td>{{gainer.securityID}}</td>
            <td>{{gainer.LTP}}</td>
            <td
                class="{% if gainer.change|float > 0 %}text-success{% elif gainer.change|float < 0 %}text-danger{% endif %}">
                {{gainer.change}}</td>
            <td
                class="{% if gainer.pChange|float > 0 %}text-success{% elif gainer.pChange|float < 0 %}text-danger{% endif %}">
                {{gainer.pChange}}%</td>
        </tr>
        <meta http-equiv="refresh" content="5">
        {% endfor %}
    </tbody>
</table>

{% endblock main %}